<div class="form-container text-center">

    <form method="post" class="edit-form">


        <div class="row mb-3">
            <div class="col-sm-10 form-group phone-div">
                <label class="phone-label" for="exampleFormControlInput1">Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-sm-10 form-group phone-div">
                <label class="phone-label" for="exampleFormControlInput1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-10 form-group phone-div">
                <label class="phone-label" for="exampleFormControlInput1">Priority</label>
                <input type="number" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-10 form-group phone-div">
                <label class="phone-label" for="exampleFormControlInput1">Category</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>


        <div class="col-10">
            <input id="submit-btn" type="submit" class="w-100 btn btn-primary" value="Запази" />
        </div>

    </form>

</div>