<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
        <div class="card h-100">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Created On</p>


                <div style="display: flex; align-items: center; justify-content: center; gap: 2em; margin-bottom: 1em;"
                    class="changeButtons">

                    <a style="padding: 0.9em; display: block;" class="edit-btn"> Edit</a>
                    <a style="padding: 0.9em; display: block;" class="delete-btn">Delete</a>

                </div>
                

                <a id="open-submit" type="submit" class="w-100 btn open-btn btn-primary">Open</a>

            </div>
        </div>
    </div>
</div>