body {
}


main {
    margin-top: 0.7em;
}

h1 {
    margin-bottom: 1em;
}

div p {
    text-align: center;
}

p {
    font-size: 1.6em;
}


.sub-container {
    margin-bottom: 4em;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    transform: translateY(-5%);
}

.edit-form {
    transform: translateX(5%);
    width: 65%;
}

    .edit-form div {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2em;
    }


.text-div,
.textarea-div {
    text-align: start;
    width: 50%;
}

/*.topic-label,
.phone-label,
.comment-label {
    margin-right: auto;
    text-align: start;
}*/

/*
.topic-div {
    width: 50%;
}*/

.text-label {
    text-align: start;
}

.submit-btn {
    margin-left: 30%;
    margin-top: 5%;
    background-color: orange;
    color: black;
    width: 2.5em;
    margin: 0 auto;
    margin-top: 1em;
}